/* header {
  font-family: Comfortaa;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  margin: 0%;
} */

body { 
  margin: 0;
  background-color: rgb(245,139,153);
}

/* styling for mobile */
@media screen and (min-width:768px) {
  
  }
  
#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}  

#container #bulbDiv {
    background-color: transparent;
    border: 1em black solid;
    height: 8em;
    width: 8em;
  }

 #bulbDiv, img {
    overflow: hidden !important;
  
  }
  
  container #who {
    
  }
  
  container #what {
    
  }
  
  container #where1 {
    
  }
  
  container #where2 {
    
  }
  
  container #where3 {
    
  }
  
  container #where4 {
    
  }
  
  /* styling for desktop */
  @media screen and (min-width:1000px) {
    
  }
  
  
