header {
  font-family: 'Sacramento-Regular';
  font-weight: lighter;
  text-align: center;
  justify-content: space-between;
  font-size: 3em;

}
/* styles header neon sign*/
header b{
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #5ce7ff, 0 0 0.5em #5ce7ff, 0 0 0.1em #5ce7ff, 0 10px 3px #000;
}
header b span{
  animation: blink linear infinite 2s;
}
/* neon sign blinker */
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.canvas {
    margin: 0;
    overflow: relative;
    background-image: url(https://jakegoss.github.io/digital-wood-panels-wallpapers-25201-389919.jpg);
    background-size:cover;
}

nav {
  width: 10em;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-content: space-around
  margin-top: 3em;
}
nav .what {
   
}

nav .who {
    
}

nav .where1 {
    
}

nav .where2 {
   
}

nav .where3 {
   
}

nav .where4 {

}



