body { 
  margin: 0;
  background-color: rgb(128, 174, 241);
  font-family: Comfortaa;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}


#leftButtons {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

}

#leftButtons #who {
  border: 2px black solid;
  color: black;
  background-color: transparent;
}

#leftButtons #what {
  border: 2px black solid;
  
  background-color: transparent;
}

#leftButtons #where1 {
  border: 2px black solid;
  
  background-color: transparent;
}

#rightButtons {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  
}

#rightButtons #where2 {
  border: 2px black solid;
  
  background-color: transparent;
}

#rightButtons #where3 {
  border: 2px black solid;
  
  background-color: transparent;
}

#rightButtons #where4 {
  border: 2px black solid;
  
  background-color: transparent;
  
}
