body { 
    margin: 0;
    background-color: rgb(128, 174, 241);
    font-family: Comfortaa;
    font-weight: 400;
    
}

#container {
  margin-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#leftButtons {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

#leftButtons #who {
  border: 2px black solid;
  color: black;
  background-color: transparent;
}

#leftButtons #what {
  border: 2px black solid;
  
  background-color: transparent;
}

#leftButtons #where1 {
  border: 2px black solid;
  
  background-color: transparent;
}

<<<<<<< HEAD
#rightButtons {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

#rightButtons #where2 {
  border: 2px black solid;
  
  background-color: transparent;
}

#rightButtons #where3 {
  border: 2px black solid;
  
  background-color: transparent;
}

#rightButtons #where4 {
  border: 2px black solid;
  
  background-color: transparent;
  
}

/* styling for desktop */
@media screen and (min-width:1000px) {
  
}

/* styling for mobile */
@media screen and (min-width:768px) {
}
=======
  }
  
  /* styling for desktop */
  @media screen and (min-width:1000px) {
    
  }

  /* Lignbulb design */

>>>>>>> 203a6ed9e054e0c8a7817d870660813d58db46c7
