body {
    background-color: hsl(352, 84%, 75%);
}

#divBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20ch;
    background-color: transparent;
}

a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84407);
}