body {
    background-color: #3D41CF;
}

#camera {
    background-color: transparent;
    background-size: 100%;
    border: none;
    
}

#cameraBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20ch
}

