body {
    background-color: #F58C99;
}

#camera {
    display: flex;
    flex-direction: row;
}

#flashButton {
   justify-content: center;
   background-image: url();
   background-size: 100px 130px;
    height: 134px;  
    width: 104px;
    
}


