h1 {
    font-family: 'futura';
    color: white;
    text-align: center;
}

body {
    background-image: url(https://raw.githubusercontent.com/jakegoss/jakegoss.github.io/master/trail_bridge.jpg);
    background-size: contain;
    background-size: cover;
}